<div *ngIf="!loading" class="row">
  <div class="col-md-3 col-sm-12" *ngFor="let product of products">
    <div class="item">
      <img src="{{ product.image }}" alt="" />
      <div class="body">
        <h4>{{ product.title }}</h4>
        <span>{{ product.rating.rate }}</span>
        <p>{{ product.description }}</p>
      </div>
      <div class="px-3 mb-2 d-flex justify-content-between align-items-center">
        <div class="btn btn-success">Add To Cart</div>
        <span>{{ product.price }}L.E</span>
      </div>
    </div>
  </div>
</div>
